.navigation {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
}

.unorderlist {
  text-decoration: none;
  display: flex;
  list-style: none;
  width: 80%;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: #1A2E35;
  font-size: 18px;
}