.main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top_section {
  display: flex;
  flex-direction: row;
  height: 600px;
  background-color: #F2F3F9;
}

.title {
  font-size: 50px;
}

.top_left_section {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.left_content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 500px;
}

.subtitle{
  font-size: 18px;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.top_right_section {
display: flex;
justify-content: center;
align-items: center;
width: 50%;
}

.first_image {
  width: 500px;
}

.button_and_user_rating {
  display: flex;
}

.user_rating {
  padding-left: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding-top: 3px;
}

.icons {
  display: flex;
}



/*-------------- MIDDLE SECTION --------------*/

.middle_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.div_middle_title {
  font-size: 25px;
}

.div_bullets {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  width: 100%;
}

/*-------------- SOCIAL PROOF SECTION --------------*/

.social_proof_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 542px;
}

/*-------------- FAQ SECTION --------------*/

.faq_section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq_box {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  flex-direction: column;
  width: 50%;
  height: 452px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
}

.faq_title {
  font-size: 30px;
  font-weight: bold;
}

.faq_subtitle {
  padding-top: 18px;
  padding-bottom: 30px;
}

/*-------------- LAST CALL TO ACTION SECTION --------------*/

.last_call_content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.last_call_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 320px;
}

.last_call_title{
  width: 480px;
  font-size: 30px;
  margin: 0 0 20px 0;
}


